.article {
    @include size(100%, 560px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding-top: 25px;

    @media (max-width: $desktop) {
        height: 1060px;
        grid-column-gap: 0;
        padding-top: 15px;
    }
    

    &__photo {
        grid-column: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        @media (max-width: $desktop) {
            grid-column: 1/3;
        }
    }
    &__img  {
        height: 100%;
        width: auto;

    }
    &__text {
        font-family: $OpenSans;
        color: #222;
        font-size: 14px;
        line-height: 1.3;
        @media (max-width: $desktop) {
            grid-column: 1/3;
        }
    }
    &__name {
        font-family: $Corm;
        font-weight: 500;
        font-size: 34px;
        margin-bottom: 10px;
        color: $hover;
    }
    &__art {
        margin-left: 20px;
    }
}

.slborder {

    border: 1px solid #828282;
    padding: 20px 20px 0;
    margin: 75px 0;
    position: relative;
    @media (max-width: $desktop) {
        margin: 50px 0 ;
    }


    &__name {
        position: absolute;
        font-family: $Corm;
        color: $hover;
        font-size: 48px;
        background: #fff;
        z-index: 9;
        left: 20px;
        top: -35px;
    }
}

.slider {
    width: 100%;

    &__video {
        width: 100%;
        padding: 10px;
    }
    &__vid {
        width: 100%;
    }
    &__text {
        font-family: $OpenSans;
        color: #222;
        font-size: 16px;
        margin: 0 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #828282;
    }
}

.slick-prev:before, .slick-next:before{
    content: '<';
    font-family: $Corm;
    color: $hover;
    font-size: 50px;
    line-height: 0;
    @media (max-width: $desktop) {
        font-size: 40px;
    }
}


.slick {
    &-next {
        right: -55px;
        @media (max-width: $desktop) {
            right: -17px;
        }
    }
    &-prev {
        left: -55px;
        @media (max-width: $desktop) {
            left: -17px;
        }
    }
    &-next:before {
        content: '>';
    }

    &-dots {
        bottom: -30px;

        li button:before {
            font-size: 0;
            line-height: 0;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            border: 1.5px solid #828282;
            border-radius: 50%;
        }

        li.slick-active button:before {
            opacity: .8;
            background: #828282;
        }
    }
}