.titleForm {
    font-family: $Corm;
    color: #222;
    font-size: 48px;
    padding-top: 25px;
    margin-bottom: 40px;
    text-align: end;

    @media (max-width: $mobile) {
        margin-bottom: 5px;
        padding-top: 10px;
    }
}

.form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: $OpenSans;
    font-size: 18px;
    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
        grid-row: 3;
    }


    &__section {
        border-left: 1px solid $hover;
        padding-bottom: 15px;
    }
    &__section--1 {
        border-right: 1px solid $hover;
        @media (max-width: $mobile) {
            border-right: none;
        }
    }

    &__input {
        padding: 10px 0;
        margin: 0 30px 25px;
        border-bottom: 1px solid #828282;
        color: #828282;
        width: 84%;
        transition: all .5s;

        &:hover {
            border-bottom: 1px solid $hover;
            color: $hover;
        }
        &::placeholder:hover {
            color: $hover;
        }
    }

    &__photo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        position: relative;
        @media (max-width: $mobile) {
        margin-top: 20px;
        margin-left: 15px;
        }
    
    }
    &__foto {
        font-family: $Corm;
        color: #222;
        font-size: 42px;

        @media (max-width: $mobile) {
            display: none;
        }
    }


    &__exampl {
        font-family: $Corm;
        color: #222;
        font-size: 48px;
        text-align: end;
        margin-top: 50px;
        margin-bottom: 10px;
        @media (max-width: $mobile) {
        margin-top: 15px;
        font-size: 40px;
        }
    
    }

    &__examplePhoto {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        height: 600px;
        margin-bottom: 100px;
        position: relative;

        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            height: 1000px;
            width: 80%;
            margin: auto;
        }
    
    }

    &__img {
        background-size: cover;
        background-position: center;
        @media (max-width: $mobile) {
        background-position: center 0;
        }
    
    }

    &__btn {
        font-family: $OpenSans;
        font-size: 24px;
        color: #828282;
        border: 1px solid #828282;
        position: absolute;
        left: calc(50% - 95px);
        bottom: -70px;
        padding: 10px 20px;
        transition: all .3s;
        @media (max-width: $mobile) {
            margin-bottom: 15px;
        }

        &:hover {
            border: 1px solid $hover;
            color: $hover;
            text-decoration: none;
        }
    }
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    right: 1px;
}
.inputfile + label {
    font-family: $OpenSans;
    font-size: 18px;
    color: #828282;
    display: inline-block;
    cursor: pointer;

}

.inputfile:focus + label,
.inputfile + label:hover {
    color: $hover;
}

.vspl {
    @include size(460px, 200px);
    position: absolute;
    border: 1px solid $hover;
    background: #fff;
    top: 200px;
    right: calc(50% - 230px);
    padding: 15px;
    -webkit-box-shadow: 0px 0px 155px 59px rgba(138,135,138,1);
    -moz-box-shadow: 0px 0px 155px 59px rgba(138,135,138,1);
    box-shadow: 0px 0px 155px 59px rgba(138,135,138,1);
    display: none;

    &__text {
        font-family: $OpenSans;
        font-size: 18px;
        color: #222;
        margin-top: 15px;
        line-height: 1.5;
    }
    &__img {
        width: 100px;
        position: absolute;
        right: 15px;
        bottom: 15px;
    }
}